/**
*   Browser resets
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
*   General Style
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Oxygen', sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.4;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

input[type="submit"] {
    color: #fff;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/**
*   Header/Navbar
*/

.navbar {
    position: sticky;
    top: 0;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.navbar > .flex {
    justify-content: space-between;
}

.navbar .logo {
    font-size: 2.2rem;
    z-index: 100;
}

.navbar .primary-nav > ul {
    display: flex;
    font-size: 1.2rem;
}

.navbar a {
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px;
}

.navbar .primary-nav > ul > a::after {
    display: block;
    content: "";
    border-bottom: 2px solid #5e5e5e;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.navbar .dropdown a::after {
    border-bottom: 0;
}

.navbar .primary-nav > ul > a:hover::after {
    transform: scale(1);
}

.navbar .primary-nav > ul .current::after {
    display: block;
    content: "";
    border: 0;
}

.current {
    border-bottom: 2px solid #5e5e5e;
}

.dropdown {
    position: relative;
}

.dropdown i {
    display: none;
    margin-left: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 200px;
    border: 1px solid #a8a6a1;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-align: left;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #5e5e5e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-menu {
    position: absolute;
    right: 15%;
    top: 35%;
    width: 2.5rem;
    height: 1.75rem;
    display: none;
    cursor: pointer;
    z-index: 100;
}

.line {
    position: relative;
    height: 2.5px;
    background: #fff;
    width: 100%;
    transform-origin: 50% 50%;
    transition: top 150ms cubic-bezier(0.5, 0, 0.3, 1) 150ms, bottom 150ms cubic-bezier(0.5, 0, 0.3, 1) 150ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.line:nth-child(1) {
    top: 1px;
}

.line:nth-child(3) {
    bottom: 1px;
}

/**
*   Hero
*/

.hero {
    height: 300px;
}

.hero .grid {
    grid-template-columns: repeat(2, 1fr);
}

.hero .headshot {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 300px;
    justify-self: center;
}

/**
*   Slideshow
*/

.slideshow {
    position: relative;
}

.slideshow .container {
    height: 500px;
}

.slideshow .image-group,
.slideshow img {
    height: 100%;
    width: auto;
}

.slideshow .image-group {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}

.slideshow .image-group.next {
    opacity: 1;
    z-index: 1;
}

.slideshow .image-group.prev {
    opacity: 1;
    z-index: 2;
}

.slideshow .image-group.fade {
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    visibility: hidden;
}

/**
*   Gallery
*/

.gallery .flex {
    flex-direction: column;
}

.gallery .title {
    margin-bottom: 2rem;
    border-bottom: 2px solid #fff;
}

.gallery .gallery-item.grid {
    grid-template-areas: "image image image header";
}

.gallery .gallery-item .gallery-image {
    grid-area: image;
}

.gallery .gallery-item .gallery-text {
    grid-area: header;
}

.gallery .gallery-item:nth-child(even) .gallery-text {
    text-align: left;
}

.gallery .gallery-item:nth-child(even) {
    grid-template-areas: "header image image image";
}

.gallery-item .gallery-image {
    max-width: 750px;
    margin: auto;
}

.gallery-item .gallery-image img {
    border-radius: 10px;
    border: 2px outset #a8a6a1;
}

.gallery-item .gallery-text {
    text-align: right;
}

.gallery-item .gallery-text:nth-child(1) {
    text-align: left;
}

.gallery-text h1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.gallery-text p {
    font-size: 1.2rem;
}

/**
*   About Me
*/

.about .flex {
    flex-direction: column;
}

.about .about-container {
    --gap: 3rem;
    padding: 5rem 0;
}

.about .about-container.grid {
    grid-template-areas: "about image";
}

.about .about-image {
    grid-area: image;
}

.about .about-text {
    grid-area: about;
}

.about .about-container:nth-child(odd) {
    grid-template-areas: "image about";
}

.about-container .about-text p {
    margin-top: 2rem;
    line-height: 2;
    letter-spacing: 1px;
}

.about-container .about-text .text-center {
    margin-top: 1.5rem;
}

.about-container .image-container h6 {
    font-family: 'Noto Serif', serif;;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

/**
*   My work
*/

.constellations h1,
.message h1,
.landscapes h1 {
    border-bottom: 1px solid #fff;
}

/* Constellations*/

.constellations .grid {
    --gap: 5.5rem;
    grid-template-areas: 
        "aquarius libra gemini"
        "aquarius aries gemini"
        "cancer leo sagittarius"
        "cancer pisces sagittarius"
        "scorpio taurus virgo"
        "scorpio capricorn virgo";
}

#aquarius {
    grid-area: aquarius;
}

#libra {
    grid-area: libra;
}

#gemini {
    grid-area: gemini;
}

#aries {
    grid-area: aries;
}

#cancer {
    grid-area: cancer;
}

#sagittarius {
    grid-area: sagittarius;
}

#leo {
    grid-area: leo;
}

#pisces {
    grid-area: pisces;
}

#scorpio {
    grid-area: scorpio;
}

#taurus {
    grid-area: taurus;
}

#virgo {
    grid-area: virgo;
}

#capricorn {
    grid-area: capricorn;
}

/* Message */

.climate.grid {
    grid-template-areas: 
        "images images"
        "title exp";
}

.climate-img {
    grid-area: images;
}

.climate-img.grid {
    grid-template-columns: repeat(4, 1fr);
}

.climate-img img {
    margin: 0 1.25rem;
}

.climate h2,
.climate p {
    margin: 4rem 3rem;
}

.climate h2 {
    grid-area: title;
    text-align: right;
    width: 40%;
    justify-self: end;
}

.climate p {
    grid-area: exp;
    width: 30%;
}

.stories.flex {
    flex-direction: column;
}

.stories .messages-container {
    --gap: 5rem;
    grid-template-areas: "image story";
    grid-template-columns: repeat(2, 1fr);
    margin: 15rem 0;
}

.stories .messages-container .story-img {
    grid-area: image;
}

.stories .messages-text {
    grid-area: story;
    width: 100%
}

.stories .messages-text h2 {
    margin-bottom: 1rem;
}

.stories .messages-container:nth-child(even) {
    grid-template-areas: "story image";
}

/* Landscapes */

.landscapes.my-3 {
    margin: 2rem 0 10rem;
}

.landscapes .flex {
    flex-wrap: wrap;
}

.landscapes img {
    margin: 1.5rem;
    width: 40%;
}

/**
*   Contact
*/

.contact {
    padding: 9rem 0;
}

.contact .contact-text {
    width: 80%;
}

.contact form {
    width: 60%;
}

.contact form label {
    display: block;
    margin: 20px 0 10px;
}

.contact form .input-area {
    height: 2.5rem;
    font-size: 1.3rem;
}

.contact form > .input-area {
    width: 99%;
}

.contact form fieldset .input-area {
    width: 49%;
}

.contact form textarea {
    display: block;
    width: 99%;
    height: 6rem;
    font-size: 1.3rem;
}

.contact form .btn {
    margin: 2rem 0;
    font-size: 1.2rem;
}

/**
*   Footer
*/

.primary-footer.flex {
    position: relative;
    height: 6.25rem;
    justify-content: left;
}

.primary-footer h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.primary-footer .social-footer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-footer a {
    margin: 0 0.5rem;
}

/**
* Animations
*/



/**
* mobile and tablet media queries
*/

@media only screen and (max-width: 1900px) {
   
    /* Hero */

   .hero {
       height: 20%;
   }

   .hero .hero-bio {
        max-width: 40ch;
    }
   
    /* Slideshow */

    .slideshow {
        display: none;
    }

}

@media only screen and (max-width: 1100px) {
    
    /* .grid,
    .hero .grid,
    .gallery .grid,
    .about .grid {
        grid-template-columns: 1fr;
    } */

    /* Navbar */

    .navbar .primary-nav {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #000;
        transition: left 250ms ease-in-out;
        z-index: 10;
    }

    .navbar .primary-nav.menu-expand {
        left: 0;
    }

    .navbar .primary-nav.menu-expand.nav-shift {
        left: -100%;
    }

    .navbar .primary-nav ul {
        flex-direction: column;
    }

    .navbar .primary-nav li {
        
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .navbar .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-menu.menu-open > .line {
        transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }

    .mobile-menu.menu-open .line:nth-child(1) {
        top: calc(50% - 1px);
        transform: rotate(0.125turn);
    }

    .mobile-menu.menu-open .line:nth-child(2) {
        transform: rotate(0.125turn);
    }

    .mobile-menu.menu-open .line:nth-child(3) {
        bottom: calc(50% - 1px);
        transform: rotate(-0.125turn);
    }

    .dropdown i {
        display: inline;
    }

    .primary-nav .dropdown .dropdown-content {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #000;
        transition: left 250ms ease-in-out;
        border: none;
        z-index: 10;
    }

    .dropdown .dropdown-content.nav-shift {
        left: 0;
    }

    .dropdown .dropdown-content h2 {
        display: inline;
        margin-left: 1rem;
        font-size: 2rem;
        font-family: 'Oxygen', sans-serif;
    }

    .dropdown .dropdown-content i {
        margin: 0;
        padding: 10px 15px;
    }

    /* Hero */

    .hero {
        text-align: center;
    }

    .hero .grid {
        grid-template-columns: 1fr;
    }

    /* Galleries */

    .gallery .gallery-item.grid {
        grid-template-areas: 
            "image"
            "header";
    }

    .gallery .gallery-item .gallery-text {
        text-align: left;
    }

    /* About */

    .about .about-container.grid {
        grid-template-areas: 
            "image"
            "about";
    }

    /* Constellations */

    .constellations .grid {
        --gap: 1.5rem;
        grid-template-areas: 
            "aquarius gemini"
            "libra libra"
            "aries aries"
            "cancer sagittarius"
            "leo leo"
            "pisces pisces"
            "scorpio virgo"
            "taurus taurus"
            "capricorn capricorn";
    }

    /* Art with a message */

    .climate.grid {
        grid-template-areas: 
            "images"
            "title"
            "exp";
    }

    .climate-img.grid {
        grid-template-columns: 1fr;
    }

    .climate-img img {
        margin: 0.5rem 0;
    }

    .climate h2,
    .climate p {
        margin: 1rem 0;
    }

    .climate h2 {
        grid-area: title;
        text-align: center;
        width: 100%;
        justify-self: end;
    }

    .climate p {
        grid-area: exp;
        text-align: center;
        width: 100%;
    }

    .stories .messages-container {
        grid-template-areas: 
            "image"
            "story"
            !important;
        grid-template-columns: 1fr;
        margin: 5rem 0;
    }

    .landscapes img {
        width: 100%;
    }

    /* Contact */

    .contact form {
        width: 100%;
    }

    /* Footer */

    .primary-footer.flex {
        flex-direction: column;
    }

    .primary-footer h2 {
        margin-bottom: 1.25rem;
    }

    .primary-footer .social-footer {
        position: static;
        transform: translate(0);
    }

}